@using Walk.Common.RazorLib.Contexts.Displays
@using Walk.Common.RazorLib.Contexts.Models;
@using Walk.Extensions.DotNet.CompilerServices.Models;

@* ContextRecord="ContextFacts.CompilerServiceExplorerContext" *@
<div id="@ContextFacts.CompilerServiceExplorerContext.ContextElementId" class="di_ide_compiler-service-explorer" style="height: 100%">
    @if (AppOptionsService.ShowPanelTitles)
    {
	    <div class="di_ide_section-title">
	        Compiler Explorer Display
	    </div>
    }

    <div class="di_ide_section-body @AppOptionsService.ShowPanelTitlesCssClass">
        <CompilerServiceExplorerTreeViewDisplay />
    </div>
</div>
