@using Walk.Common.RazorLib.Contexts.Displays
@using Walk.Common.RazorLib.Contexts.Models;
@using Walk.Extensions.DotNet.CompilerServices.Models;

<ContextBoundary ContextRecord="ContextFacts.CompilerServiceExplorerContext"
                 ClassCssString="di_ide_compiler-service-explorer"
                 StyleCssString="height: 100%">
                 
    @if (AppOptionsService.ShowPanelTitles)
    {
	    <div class="di_ide_section-title">
	        Compiler Explorer Display
	    </div>
    }

    <div class="di_ide_section-body @AppOptionsService.ShowPanelTitlesCssClass">
        <CompilerServiceExplorerTreeViewDisplay />
    </div>
</ContextBoundary>
