@using Walk.CompilerServices.CSharp.CompilerServiceCase;
@using Walk.CompilerServices.CSharpProject.CompilerServiceCase;
@using Walk.CompilerServices.Css;
@using Walk.CompilerServices.DotNetSolution.CompilerServiceCase;
@using Walk.CompilerServices.Json;
@using Walk.CompilerServices.Razor.CompilerServiceCase;
@using Walk.CompilerServices.Xml;

@if (TreeViewCompilerService.Item is XmlCompilerService xmlCompilerService)
{
    @: TODO: XmlCompilerService
}
else if (TreeViewCompilerService.Item is DotNetSolutionCompilerService dotNetSolutionCompilerService)
{
    @: TODO: DotNetSolutionCompilerService
}
else if (TreeViewCompilerService.Item is CSharpProjectCompilerService cSharpProjectCompilerService)
{
    @: TODO: CSharpProjectCompilerService
}
else if (TreeViewCompilerService.Item is CSharpCompilerService cSharpCompilerService)
{
    <div>
        @cSharpCompilerService.__CSharpBinder.NamespaceGroupMap
    </div>
}
else if (TreeViewCompilerService.Item is RazorCompilerService razorCompilerService)
{
    @: TODO: RazorCompilerService
}
else if (TreeViewCompilerService.Item is CssCompilerService cssCompilerService)
{
    @: TODO: CssCompilerService
}
else if (TreeViewCompilerService.Item is JsonCompilerService jsonCompilerService)
{
    @: TODO: JsonCompilerService
}
