/* _content/Walk.Common/Drags/Displays/DragInitializer.razor.rz.scp.css */
.di_drag-initializer[b-xzhefc0ojs] {
    z-index: var(--di_drag-initializer-z-index);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

.di_dropzone[b-xzhefc0ojs] {
	background-color: var(--di_ide_context-boundary-overlay-background-color);
    opacity: 0.6;
    cursor: default;
}

	.di_dropzone.di_active[b-xzhefc0ojs] {
        background-color: var(--di_button-hover-background-color);
        box-shadow: 0 0 2px var(--di_primary-overlay-box-shadow-color);
    }

.di_dropzone.di_dropzone-fallback[b-xzhefc0ojs] {
	background-color: transparent;
    box-shadow: none;
    opacity: 0;
	cursor: pointer;
}
/* _content/Walk.Common/Dropdowns/Displays/DropdownDisplay.razor.rz.scp.css */
.di_dropdown[b-713cro0tdc] {
	position: fixed;
	z-index: var(--di_dropdown-display-z-index);
    color: var(--di_tertiary-foreground-color);
    background-color: var(--di_tertiary-background-color);
    box-shadow: 0 0 var(--di_dropdown-display-default-background-box-shadow-blur-radius) var(--di_primary-box-shadow-color);
}
/* _content/Walk.Common/FileSystems/Displays/PermissionsDisplay.razor.rz.scp.css */
.di_permissions-body[b-vc230121n9] {
    margin: 10px;
    padding: 10px;
    border-left: 1px solid var(--di_primary-border-color);
}
/* _content/Walk.Common/Icons/Displays/IconLoadingFragment.razor.rz.scp.css */
.lds-dual-ring[b-4h13sg3zem] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-dual-ring[b-4h13sg3zem]:after {
    content: " ";
    display: block;
    width: 1em;
    height: 1em;
    margin: .2em;
    border-radius: 50%;
    border: .15em solid var(--di_primary-font-color);
    border-color: var(--di_primary-font-color) transparent var(--di_primary-font-color) transparent;
    animation: lds-dual-ring-b-4h13sg3zem 1.2s linear infinite;
}

@keyframes lds-dual-ring-b-4h13sg3zem {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/* _content/Walk.Common/Notifications/Displays/NotificationDisplay.razor.rz.scp.css */
.di_notification[b-kfh90n8xqh] {
    position: fixed;
    z-index: var(--di_notification-display-z-index);
    color: var(--di_secondary-foreground-color);
    background-color: var(--di_notification-display-background-color);
    box-shadow: 0 0 var(--di_notification-display-box-shadow-blur-radius) var(--di_primary-box-shadow-color);
}

.di_notification-toolbar[b-kfh90n8xqh] {
    height: var(--di_notification-display-toolbar-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--di_tertiary-foreground-color);
    background-color: var(--di_notification-display-toolbar-background-color);
    cursor: default;
    padding: var(--di_notification-toolbar-padding);
}

.di_notification-title[b-kfh90n8xqh] {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.di_error .di_notification-toolbar[b-kfh90n8xqh] {
    background-color: var(--di_error-background-color);
}

.di_notification-control-buttons[b-kfh90n8xqh] {
    display: flex;
    align-items: center;
}

.di_notification-button-entry[b-kfh90n8xqh] {
    margin-right: var(--di_notification-button-entry-margin-right);
    padding: var(--di_notification-button-entry-padding);
    display: inline-flex;
    height: fit-content;
}

.di_notification-body[b-kfh90n8xqh] {
    height: calc(100% - var(--di_notification-display-toolbar-height));
    overflow: auto;
    padding: var(--di_notification-body-padding);
}
/* _content/Walk.Common/Notifications/Displays/NotificationsViewDisplay.razor.rz.scp.css */
.di_web_notifications-view-tabs[b-6pb15jkl2o] {
    margin-top: 8px;
    display: flex;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 2px solid var(--di_primary-border-color);
}

    .di_web_notifications-view-tabs .di_button[b-6pb15jkl2o] {
        margin-right: 8px !important;
    }

.di_web_notifications-view-tab-entry-count[b-6pb15jkl2o] {
    margin: 0 5px;
}
/* _content/Walk.Common/OutOfBoundsClicks/Displays/OutOfBoundsClickDisplay.razor.rz.scp.css */
.di_out-of-bounds-click-display[b-qua0kiz5gx] {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}
/* _content/Walk.Common/Widgets/Displays/WidgetDisplay.razor.rz.scp.css */
.di_widget[b-yb3ue28fza] {
	position: fixed;
	width: 60vw;
	height: 60vh;
	left: 20vw;
	top: 20vh;
	z-index: var(--di_widget-display-z-index);
    color: var(--di_secondary-foreground-color);
    background-color: var(--di_secondary-background-color);
    box-shadow: 0 0 var(--di_dialog-display-box-shadow-blur-radius) var(--di_primary-box-shadow-color);
}
    .di_widget:focus[b-yb3ue28fza] {
        outline: 4px solid var(--di_toggled-on-hover-background-color);
    }
