@using Walk.Common.RazorLib.Keys.Models
@using Walk.TextEditor.RazorLib.TextEditors.Displays
@using Walk.TextEditor.RazorLib.TextEditors.Displays.Internals
@using Walk.TextEditor.RazorLib.TextEditors.Models
@using Walk.Ide.RazorLib.Terminals.Models
@using Walk.Ide.RazorLib.Terminals.Displays

@{
	var localTerminal = Terminal;
	
	var localFormatter = localTerminal.TerminalOutput.OutputFormatterList.FirstOrDefault(
		x => x.Name == nameof(TerminalOutputFormatterExpand));
	
	var workingDirectory = localTerminal.TerminalInteractive.WorkingDirectory
		?? "null";
	
	var paddingForWorkingDirectoryText = 2;
	var workingDirectoryTextWidth = workingDirectory.Length + paddingForWorkingDirectoryText;
}

<div class="di_ide_new-terminal-panel">
	@if (localFormatter is not TerminalOutputFormatterExpand terminalOutputFormatterExpand)
	{
		<text>@nameof(ITerminalOutputFormatter) was not nameof(TerminalOutputFormatterExpand)</text>
	}
	else
	{
		<div style="height: calc(100% - 2em);">
			<TextEditorViewModelSlimDisplay TextEditorViewModelKey="terminalOutputFormatterExpand.TextEditorViewModelKey"
										    ViewModelDisplayOptions="_textEditorViewModelDisplayOptions" />
		</div>
	
		<div style="height: 2em; display: flex;">
			<input type="text"
				   style="width: @(workingDirectoryTextWidth)ch; height: 100%;"
				   title="Working directory"
				   readonly
				   value="@workingDirectory" />
				   
			<input type="text"
				   style="width: calc(100% - @(workingDirectoryTextWidth)ch); height: 100%;"
				   title="Command"
				   @bind="CommandUiInputBinding"
				   @bind:event="oninput"
				   @onkeydown="HandleOnKeyDown" />
		</div>
	}
</div>