/* _content/Walk.Ide.RazorLib/CodeSearches/Displays/CodeSearchDisplay.razor.rz.scp.css */
.di_ide_find-all[b-j0fab73slq] {
    height: 100%;
}

.di_ide_find-all-top-content[b-j0fab73slq] {
    overflow: auto;
}

.di_ide_find-all-filter-list[b-j0fab73slq] {
    display: flex;
}

.di_ide_find-all-filter-list > .di_ide_find-all-filter[b-j0fab73slq] {
    margin-right: 5px;
}

.di_ide_find-all-filter[b-j0fab73slq] {
    background-color: var(--di_active-no-focus-background-color);
}

    .di_ide_find-all-filter.di_active[b-j0fab73slq] {
        background-color: var(--di_active-with-focus-background-color);
    }
/* _content/Walk.Ide.RazorLib/CommandBars/Displays/CommandBarDisplay.razor.rz.scp.css */
.di_ide_command-bar[b-4vpx3fk9yn] {
	width: 100%;
	height: 100%;
}
/* _content/Walk.Ide.RazorLib/Notifications/Displays/NotificationsDisplay.razor.rz.scp.css */
.di_ide_folder-notifications[b-9nawor5naz] {
    height: 100%;
}
/* _content/Walk.Ide.RazorLib/Settings/Displays/SettingsDisplay.razor.rz.scp.css */
.di_ide_settings[b-1xhqd78r6u] {
    padding: 5px;
}

.di_ide_settings-scope-border[b-1xhqd78r6u] {
    padding: 0 !important;
    background-color: var(--di_primary-border-color);
    opacity: 0.7;
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    margin-left: 6px;
}

.di_ide_settings-scope-title[b-1xhqd78r6u] {
    color: var(--di_primary-emphasis-foreground-color);
}

.di_ide_settings-scope-body[b-1xhqd78r6u] {
    position: relative;
    padding-left: 12px;
}

.di_ide_settings-scope-body > div[b-1xhqd78r6u] {
    padding: 7px 5px;
    margin-bottom: 7px;
}
/* _content/Walk.Ide.RazorLib/Shareds/Displays/Internals/IdeDevelopmentDisplay.razor.rz.scp.css */
button[b-aytb8fyqgz] {
    margin-top: 7px;
}
/* _content/Walk.Ide.RazorLib/Shareds/Displays/Internals/IdeInfoDisplay.razor.rz.scp.css */
table[b-p5dpluzsfh], th[b-p5dpluzsfh], td[b-p5dpluzsfh] {
	border: 1px solid var(--di_primary-border-color);
	margin-top: 8px;
	padding: 5px;
}

pre[b-p5dpluzsfh] {
	 background-color: var(--di_te_body-background-color);
	 margin-top: 5px;
	 padding: 5px;
}
/* _content/Walk.Ide.RazorLib/Terminals/Displays/TerminalGroupDisplay.razor.rz.scp.css */
.di_section-body[b-hdwr4nqzyv] {
    width: 100%;
    display: flex;
}
/* _content/Walk.Ide.RazorLib/Terminals/Displays/TerminalOutputTextEditorExpandDisplay.razor.rz.scp.css */
.di_ide_new-terminal-panel[b-lqzj06kf4j] {
	display: flex;
	flex-direction: column;
	height: 100%;
	font-family: monospace;
}
