@using Walk.Ide.RazorLib.Terminals.Models;

<div class="di_ide_form">
    <div class="di_ide_form-group">
        <div class="di_ide_form-label">
            Name:
        </div>

        <div class="di_ide_form-value">
            <input class="di_ide_input di_ide_input-text"
                       style="height: 2em;"
                       placeholder="Solution name"
                       @bind="_solutionName"
                       @bind:event="oninput"/>
        </div>
    </div>

    <div class="di_ide_form-group">
        <div class="di_ide_form-label">
            Directory:
        </div>

        <div class="di_ide_form-value"
             style="display: flex;">

            <input class="di_ide_input di_ide_input-text"
                   style="height: 2em;"
                   placeholder="Parent directory"
                   @bind="_parentDirectoryName"
                   @bind:event="oninput"/>

            <button class="di_button"
                    @onclick="RequestInputFileForParentDirectory">
                @{
                	var appOptionsState = CommonUtilityService.GetAppOptionsState();
                 
	            	var iconDriver = new IconDriver(
	            		appOptionsState.Options.IconSizeInPixels,
	            		appOptionsState.Options.IconSizeInPixels);
	            }
	            @IconFolderFragment.Render(iconDriver)
            </button>
        </div>
    </div>

    <div>
        Solution&nbsp;Name:
        <div>
            <em class="di_em">
                @DisplaySolutionName
            </em>.sln
        </div>
    </div>

    <div>
        Directory&nbsp;Absolute&nbsp;File&nbsp;Path:
        <div>
            <em class="di_em">
                @DisplayParentDirectoryName
            </em>
        </div>
    </div>

    <div>
        Command:
        <div>
            <em class="di_em">
                @FormattedCommand.Value
            </em>
        </div>
    </div>
    
    <button class="di_button"
            @onclick="StartNewDotNetSolutionCommandOnClick">
        Run
    </button>
</div>