@using Microsoft.AspNetCore.Components.Forms
@using Walk.Common.RazorLib
@using Walk.Common.RazorLib.Dropdowns.Displays
@using Walk.Common.RazorLib.Dropdowns.Models;
@using Walk.Common.RazorLib.TreeViews.Displays
@using Walk.Common.RazorLib.TreeViews.Models;
@using Walk.Extensions.DotNet.DotNetSolutions.Displays.Internals;
@using Walk.Extensions.DotNet.DotNetSolutions.Models;

@* ContextRecord="ContextFacts.SolutionExplorerContext" *@

<div class="di_ide_solution-explorer-display" style="height: 100%">
    @{
    	var dotNetSolutionState = DotNetService.GetDotNetSolutionState();
    	var appOptionsState = DotNetService.IdeService.TextEditorService.CommonService.GetAppOptionsState();
    }

    <div class="di_ide_section-body di_ide_section-no-title">
        @if (dotNetSolutionState.DotNetSolutionModel is null)
        {
            <button class="di_button"
                    style="display: inline; margin-right: 12px; margin-bottom: 12px;"
                    @onclick="() => DotNetSolutionState.ShowInputFile(DotNetService.IdeService, DotNetService)">
                Open Solution
            </button>

            <button class="di_button"
                    style="display: inline;"
            @onclick="OpenNewDotNetSolutionDialog">
                New Solution
            </button>
        }
        else
        {
            <TreeViewContainerDisplay TreeViewContainerParameter="_treeViewContainerParameter"/>
        }
    </div>
</div>