<button class="di_button"
        style="margin-left: 15px;"
        @onclick="ImportOnClick">
    Import
</button>

@* <button class="di_button"
        style="margin-left: 15px;"
        @onclick="ExportOnClick">
    Export
</button> *@