@using Walk.Common.RazorLib.Dropdowns.Displays
@using Walk.Common.RazorLib.Dropdowns.Models
@using Walk.Common.RazorLib.Notifications.Models

<div class="di_polymorphic-tab-list @CssClassString">

	@{
	    var localTabList = TabList;
	    
	    _tabCascadingValueBatch.DragService = DragService;
        _tabCascadingValueBatch.NotificationService = NotificationService;
        _tabCascadingValueBatch.AppOptionsService = AppOptionsService;
    	_tabCascadingValueBatch.CommonBackgroundTaskApi = CommonBackgroundTaskApi;
    	_tabCascadingValueBatch.CommonComponentRenderers = CommonComponentRenderers;
    	_tabCascadingValueBatch.HandleTabButtonOnContextMenu = HandleTabButtonOnContextMenu;
    }

	<CascadingValue Value="_tabCascadingValueBatch"
	                IsFixed="true">
		@foreach (var tab in localTabList)
		{
			<TabDisplay @key="tab.DynamicViewModelKey"
						Tab="tab"/>
		}
	</CascadingValue>
</div>
