@using Walk.Common.RazorLib.TreeViews.Displays

<div class="di_ide_input-file-display-content"
     style="@ElementDimensions.GetStyleString(CommonService.UiStringBuilder)">
    
    <CascadingValue Name="SearchQuery" Value="InputFileState.SearchQuery">
        <TreeViewContainerDisplay TreeViewContainerParameter="_treeViewContainerParameter"/>
    </CascadingValue>
</div>