<div class="di_ide_input-file-edit-address"
     @onfocusout="InputTextEditForAddressOnFocusOutAsync">
    
    <input @ref="_inputTextEditForAddressElementReference"
           @bind="_editForAddressValue"
           @onkeydown="InputTextEditForAddressOnKeyDownAsync"
           class="di_ide_input di_ide_input-file-search-input"/>

    <button @onclick="OnEscapeKeyDownCallbackAsync.Invoke"
            @onclick:stopPropagation="true"
            class="di_button">
        Cancel
    </button>
</div>