@using Walk.Common.RazorLib.Dropdowns.Displays
@using Walk.Common.RazorLib.Dropdowns.Models;
@using Walk.Common.RazorLib.TreeViews.Displays

<div class="di_ide_input-file-display-side-bar"
     style="@ElementDimensions.GetStyleString(IdeService.CommonService.UiStringBuilder)">

    <CascadingValue Name="SearchQuery" Value="InputFileState.SearchQuery">
        <TreeViewContainerDisplay TreeViewContainerParameter="_treeViewContainerParameter"/>
    </CascadingValue>
</div>