@using Walk.Common.RazorLib;
@using Walk.Extensions.DotNet.Outputs.Displays.Internals

@* ContextRecord="ContextFacts.OutputContext" *@

<div class="di_output-panel-display" style="height: 100%; width: 100%; overflow: auto;">
	<div class="di_ide_section-body di_ide_section-no-title">
		<OutputDisplay/>
	</div>
</div>
