<div class="@_wrapperCssClass"
	 style="@_wrapperCssStyle">
	<div class="di_te_measure-character-width-and-line-height-wrapper di_te_row">
	    <div class="di_te_measure-character-width-and-line-height di_te_row"
	         id="@_measureCharacterWidthAndLineHeightElementId">
	
	        @for (var i = 0; i < TEST_STRING_REPEAT_COUNT; i++)
	        {
	            <text>
	                @TEST_STRING_FOR_MEASUREMENT
	            </text>
	        }
	    </div>
	</div>
</div>