/* _content/Walk.TextEditor/TextEditors/Displays/Internals/AutocompleteMenu.razor.rz.scp.css */
.di_ide_text-editor-autocomplete-menu:focus[b-2jzu4xes85] {

	width: 500px;
	height: 500px;
	background-color: aqua;

}
/* _content/Walk.TextEditor/TextEditors/Displays/Internals/FindOverlayDisplay.razor.rz.scp.css */
.di_te_find-overlay[b-t7akah1n4s] {
    overflow: hidden;
    position: absolute;
    right: var(--di_te_scrollbar-size);
    top: 0;
    width: 25%;
    min-width: calc(22ch + 16px);
    padding: 7px;
    z-index: 2;
    cursor: default;
    background-color: var(--di_te_scrollbar-background-color);
}
