@using Walk.Common.RazorLib.Menus.Displays

@{ var renderBatch = GetVirtualizationResult(); }

@if (renderBatch.IsValid)
{
	<div @ref="_textEditorContextMenuElementReference"
	     tab-index="-1"
	     class="di_ide_text-editor-context-menu"
	     @onkeydown="HandleOnKeyDown">
	
        <MenuDisplay Menu="GetMenuRecord()"/>
	</div>
}
