@using Walk.Common.RazorLib.Dimensions;
@using Walk.Common.RazorLib.Dimensions.Models

<div class="di_resize-row"
     style="@CommonService.Options_ResizeHandleCssHeight"
     @onmousedown="() => SubscribeToDragEvent(CommonService, DragEventHandlerResizeHandleAsync, x => _dragEventHandler = x)">
</div>