@using Walk.Common.RazorLib.Dimensions;
@using Walk.Common.RazorLib.Dimensions.Models

<div class="di_resize-row"
     style="height: @(AppOptionsService.GetAppOptionsState().Options.ResizeHandleHeightInPixels.ToCssValue())px;"
     @onmousedown="() => SubscribeToDragEvent(DragEventHandlerResizeHandleAsync)">
    
</div>