@using Walk.Common.RazorLib.Dimensions;
@using Walk.Common.RazorLib.Dimensions.Models

<div class="di_resize-column"
     style="@CommonUtilityService.Options_ResizeHandleCssWidth"
     @onmousedown="() => SubscribeToDragEvent(DragEventHandlerResizeHandleAsync)">
    
</div>