@using Walk.Common.RazorLib.Keys.Models
@using Walk.TextEditor.RazorLib.TextEditors.Displays
@using Walk.TextEditor.RazorLib.TextEditors.Displays.Internals
@using Walk.TextEditor.RazorLib.TextEditors.Models
@using Walk.Ide.RazorLib.Terminals.Models;
@using Walk.Ide.RazorLib.Terminals.Displays;

<div class="di_ide_test-explorer-details"
	 style="@ElementDimensions.GetStyleString(CommonBackgroundTaskApi.UiStringBuilder)">

	<TextEditorViewModelSlimDisplay TextEditorViewModelKey="DetailsTextEditorViewModelKey"
								    ViewModelDisplayOptions="_textEditorViewModelDisplayOptions" />
</div>