@using Walk.Common.RazorLib.Keys.Models
@using Walk.Common.RazorLib.ShouldRenderBoundaries.Displays
@using Walk.TextEditor.RazorLib.TextEditors.Displays
@using Walk.TextEditor.RazorLib.TextEditors.Displays.Internals
@using Walk.TextEditor.RazorLib.TextEditors.Models
@using Walk.Ide.RazorLib.Terminals.Models;
@using Walk.Ide.RazorLib.Terminals.Displays;

<div class="di_ide_test-explorer-details"
	 style="@ElementDimensions.StyleString">

	<ShouldRenderBoundary>
		<TextEditorViewModelSlimDisplay TextEditorViewModelKey="DetailsTextEditorViewModelKey"
									    ViewModelDisplayOptions="_textEditorViewModelDisplayOptions" />
	</ShouldRenderBoundary>
</div>